# Arquivos do Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env

# Diretórios de ambientes virtuais
venv/
env/
ENV/
.venv/
.pyenv/
oivenv/

# Configurações locais
local_settings.py

# Arquivos do banco de dados SQLite
db.sqlite3

# Arquivos do Django
/static/
/media/
/*.log

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de IDEs/editores
.idea/
.vscode/
*.swp

# Dependências instaladas
*.egg-info/
dist/
build/

# Arquivos do coverage
.coverage
htmlcov/
*.cover

# Test outputs
*.log
nosetests.xml
coverage.xml
*.cover
