<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
        <h1 class="text-2xl font-bold mb-6">Bem-vindo(a), {{ username }}!</h1>
        <ul class="list-none">
            <li class="mb-4">
                <a href="#" class="block bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 text-center">Checklist</a>
            </li>
            <li class="mb-4">
                <a href="#" class="block bg-green-500 text-white py-2 px-4 rounded-lg hover:bg-green-600 text-center">Agendamento de Exame</a>
            </li>
            <li class="mb-4">
                <a href="#" class="block bg-purple-500 text-white py-2 px-4 rounded-lg hover:bg-purple-600 text-center">Histórico Médico Digital</a>
            </li>
        </ul>
    </div>
</body>
</html>
