<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Exclusão</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">

        <h1 class="text-2xl text-center font-bold mb-6">Confirmar Exclusão</h1>

        <p class="text-lg mb-4">Você tem certeza que deseja excluir esta consulta?</p>

        <div class="flex justify-between">
            
            <a href="{% url 'saude:menu' %}" class="bg-gray-500 text-white py-2 px-4 rounded-lg hover:bg-gray-600">Cancelar</a> <!--saude:consultas?-->

            <form action="{% url 'saude:delete_consulta' consultas.id %}" method="post">

                {% csrf_token %}
                <button type="submit" class="bg-red-500 text-white py-2 px-4 rounded-lg hover:bg-red-600">Excluir</button>

            </form>
        </div>
    </div>
</body>
</html>