<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">

<!-- Navbar -->
<div style="display: none;">
    {% load static %}
</div>

<nav class="bg-[#4285F4] text-white" style="background-color: #4285F4 !important;">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16">
            <div class="flex items-center">
                <a href="{% url 'saude:menu' %}" class="flex items-center">
                    <img class="h-24 object-cover text-center" src="{% static 'saudetec1.png' %}" alt="SaúdeTec Logo">
                    <span class="ml-2 text-xl font-bold">SaúdeTec</span>
                </a>
            </div>
        </div>
    </div>
</nav>


    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md my-8 mx-auto ">
        {% if messages %}
            <div class="mb-4">
                {% for message in messages %}
                    <div class="p-4 mb-4 text-sm 
                        {% if message.tags == 'success' %} 
                            text-green-700 bg-green-100 
                        {% elif message.tags == 'error' %} 
                            text-red-700 bg-red-100 
                        {% else %} 
                            text-gray-700 bg-gray-100 
                        {% endif %} 
                        rounded-lg">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    
        
        <h1 class="text-2xl text-center font-bold mb-6">Bem-vindo(a), {{ username }}!</h1>
        <h1 class="text-xl text-center font-bold mb-6">O que você procura?</h1>
        <ul class="list-none">
            <li class="mb-4">
                <a href="{% url 'saude:historico_form' %}" class="block bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 text-center transform hover:scale-110 transition duration-400 ease-in-out">Histórico médico digital</a>
            </li>
            <li class="mb-4">
                <a href="{% url 'saude:agendamento' %}" class="block bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 text-center transform hover:scale-110 transition duration-400 ease-in-out">Agendamento de consultas</a>
            </li>
            <li class="mb-4">
                <a href="{% url 'saude:consultas' %}" class="block bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 text-center transform hover:scale-110 transition duration-400 ease-in-out">Ver minhas consultas</a>
            </li>
            <li class="mb-4">
                <a href="{% url 'saude:checklist' %}" class="block bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 text-center transform hover:scale-110 transition duration-400 ease-in-out">Marcar os seus sintomas</a>
            </li>
            <li class="mb-4">
                <a href="{% url 'saude:registros' %}" class="block bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 text-center transform hover:scale-110 transition duration-400 ease-in-out">Ver meus sintomas</a>
            </li>
            <li class="mb-4">
                <a href="{% url 'saude:localizacao' %}" class="block bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 text-center transform hover:scale-110 transition duration-400 ease-in-out">Localização de centros de saúde</a>
            </li>
            <li class="mb-4">
                <a href="{% url 'saude:vacinas' %}" class="block bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 text-center transform hover:scale-110 transition duration-400 ease-in-out">Localização de centros de vacinação</a>
            </li>
            <li class="mb-4">
                <a href="{% url 'saude:localizar_doencas' %}" class="block bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 text-center transform hover:scale-110 transition duration-400 ease-in-out">Localização de doenças por bairros</a>
            </li>
        </ul>
    </div>
</body>
</html>
