<html>
    <body>
        {% load static %}
        <nav class="bg-[#4285F4] text-white">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
              <div class="flex items-center justify-between h-16">
                <div class="flex items-center">
                    <a href="{% url 'home' %}">
                        <img class="h-24 object-cover text-center" src="{% static '/saudetec1.png' %}" alt="">
                    </a>
                    <a href="{% url 'home' %}">
                        <span class="text-xl font-bold">SaúdeTec</span> 

                    </a>
                </div>
                <div class="hidden md:block">
                  <div class="ml-10 flex items-baseline space-x-4">
                    <a href="{% url 'consultas' %}">
                        <button class="flex items-center text-white hover:bg-[#5a95f5] px-3 py-2 rounded-md text-sm font-medium">
                            <svg xmlns="http://www.w3.org/2000/svg" class="mr-2 h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-6 8h6m-6 4h6m-6 4h6m2-2a2 2 0 002-2V7a2 2 0 00-2-2h-2V3a1 1 0 00-1-1h-6a1 1 0 00-1 1v2H6a2 2 0 00-2 2v10a2 2 0 002 2h2z" />
                            </svg>
                            Consultas
                          </button>
                    </a>
                   <a href="{% url 'agendamento' %}">
                    <button class="flex items-center text-white hover:bg-[#5a95f5] px-3 py-2 rounded-md text-sm font-medium"> 
                        <svg xmlns="http://www.w3.org/2000/svg" class="mr-2 h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 17v-2h6v2m0 4H9a2 2 0 01-2-2v-2a2 2 0 012-2h6a2 2 0 012 2v2a2 2 0 01-2 2zm-4-8v-4a4 4 0 118 0v4" />
                        </svg>
                        Agendamento
                      </button>
                   </a>
                  </div>
                </div>
                <div class="md:hidden">
                  <button type="button" class="inline-flex items-center justify-center p-2 rounded-md text-white hover:bg-[#5a95f5] focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
                    <span class="sr-only">Abrir menu principal</span>
                    <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                  </button>
                </div>
              </div>
            </div>
        
            <div class="md:hidden" id="mobile-menu">
              <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
                <button class="flex items-center text-white hover:bg-[#5a95f5] block px-3 py-2 rounded-md text-base font-medium w-full">
                  <svg xmlns="http://www.w3.org/2000/svg" class="mr-2 h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-6 8h6m-6 4h6m-6 4h6m2-2a2 2 0 002-2V7a2 2 0 00-2-2h-2V3a1 1 0 00-1-1h-6a1 1 0 00-1 1v2H6a2 2 0 00-2 2v10a2 2 0 002 2h2z" />
                  </svg>
                  Agendamento
                </button>
                <button class="flex items-center text-white hover:bg-[#5a95f5] block px-3 py-2 rounded-md text-base font-medium w-full">
                  <svg xmlns="http://www.w3.org/2000/svg" class="mr-2 h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 17v-2h6v2m0 4H9a2 2 0 01-2-2v-2a2 2 0 012-2h6a2 2 0 012 2v2a2 2 0 01-2 2zm-4-8v-4a4 4 0 118 0v4" />
                  </svg>
                  Consultas
                </button>
              </div>
            </div>
          </nav>





        <script src="https://cdn.tailwindcss.com"></script>
        <h1>Home</h1>
        <p>Olá, {{ nome }}!</p>
        <a href="{% url 'login' %}"">login</a>
        <a href="{% url 'cadastro' %}"">se Cadastrar</a>

        <script>
            const mobileMenuButton = document.querySelector('[aria-controls="mobile-menu"]');
            const mobileMenu = document.getElementById('mobile-menu');
        
            mobileMenuButton.addEventListener('click', () => {
              const expanded = mobileMenuButton.getAttribute('aria-expanded') === 'true';
              mobileMenuButton.setAttribute('aria-expanded', String(!expanded));
              mobileMenu.classList.toggle('hidden');
            });
          </script>
    </body>
</html>